# Files to be excluded from Git Tracking

*~

Test/

Main/makefile
Main/lex.yy.c
Main/*.tab.c

LexYacc_Specs/*.tab.c
LexYacc_Specs/lex.yy.c
LexYacc_Spec/SimpleCalc/CalcLibrary.h.gch

Main/t.c

*.o
*/*.o
*/*/*.o

*/a.out
*/*/a.out

*/test.c
*/*/test.c
