# Files to be excluded from Git Tracking

*~

Test/
SelfHelp/

Main/makefile
Main/lex.yy.c
Main/*.tab.c
Main/t.c
Main/sil
Main/SIM_Simulator/sim
Main/SIM_Simulator/lex.yy.c

*.o
*/*.o
*/*/*.o

*/*.out
*/*/*.out

*/test
*/*/test
